@page "/profile"

@using BeeFat.Helpers
@using Blazorise
@inherits LayoutComponentBase
@inject UserProfileHelper UserProfileHelper;

@rendermode InteractiveServer

<h1>Профиль пользователя</h1>

@{
   var userModel = UserProfileHelper.UserModel;
}

<Blazorise.Modal @ref="UserProfileHelper.Modal" Title="Modal title" Class="popup_window">
    <div>
        <div>Вы уверены, что хотите сохранить изменения?</div>
        <Blazorise.Button Style="background-color: #c2cb88;" @onclick="() => { UserProfileHelper.SaveProfile(); UserProfileHelper.Modal.Close(CloseReason.UserClosing); }">Да</Blazorise.Button>
    </div>
</Blazorise.Modal>

<div>
   <label for="firstName">Имя:</label>
   <input type="text" id="firstName" @bind="userModel.PersonName.FirstName" />
</div>

<div>
   <label for="lastName">Фамилия:</label>
   <input type="text" id="lastName" @bind="userModel.PersonName.LastName" />
</div>

<div>
   <label for="weight">Масса (в кг):</label>
   <input type="number" id="weight" @bind="userModel.Weight" />
</div>

<div>
   <label for="height">Рост (в см):</label>
   <input type="number" id="height" @bind="userModel.Height" />
</div>

<div>
   <label for="desiredCalories">Желаемое количество калорий:</label>
   <input type="number" id="desiredCalories" @bind="userModel.RightCalories" />
</div>

<Button Style="background-color: #c2cb88;" @onclick="() => { UserProfileHelper.Modal.Show();}">Сохранить </Button>
