@page "/profile"

@using BeeFat.Data
@using BeeFat.Repositories
@using Blazorise
@using BeeFat.Components.Account.Domain.Helpers
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase

@inject UserProfileHelper UserProfileHelper;
@inject NavigationManager NavigationManager;
@inject UserRepository UserRepository;
@inject IHttpContextAccessor HttpContextAccessor;
@inject IdentityUserAccessor UserAccessor;

@attribute [Authorize]

@rendermode InteractiveServer


@if (user == null)
{
}
else
{
    <h1>Профиль пользователя</h1>

    <div style="@ZIndexModalStyle">
        <Blazorise.Modal @ref="UserProfileHelper.Modal" Closing="@OnModalClosing" Title="Modal title" Class="popup_window">
            <div>
                <div>Вы уверены, что хотите сохранить изменения?</div>
                <Blazorise.Button Style="background-color: #c2cb88;" @onclick="() => { ChangeZIndex(false); UserProfileHelper.Save(user!); }">Да</Blazorise.Button>
            </div>
        </Blazorise.Modal>
    </div>


    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" @bind="user!.PersonName.FirstName"/>
    </div>

    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" @bind="user.PersonName.LastName"/>
    </div>

    <div>
        <label for="gender">Пол:</label>
        <select id="gender" @bind=@genderString>
            <option value="Male">Мужской</option>
            <option value="Female">Женский</option>
        </select>
    </div>


    <div>
        <label for="weight">Масса (в кг):</label>
        <input type="number" id="weight" @bind="user.Weight"/>
    </div>

    <div>
        <label for="height">Рост (в см):</label>
        <input type="number" id="height" @bind="user.Height"/>
    </div>

    <div>
        <label for="gender">Тип активности:</label>
        <select id="gender" @bind=@activityString>
            @{
                foreach (var activityName in StaticBeeFat.ActivityToLevel.Keys)
                {
                    <option value="@(activityName)">@activityName</option>
                }
            }
        </select>
    </div>

    <Button Style="background-color: #c2cb88;" @onclick="() => { ChangeZIndex(true); UserProfileHelper.Modal.Show(); }">Сохранить </Button>


    <Button Style="background-color: #c2cb88;" @onclick="() => { ChangeZIndex(true); NavigationManager.RedirectTo(UrlToTrackPickPage); }">Подобрать подходящие треки</Button>
}


@code{
    public string? ZIndexModalStyle;

    private ApplicationUser? user;
    private string? genderString;
    private string? activityString;

    private const string UrlToTrackPickPage = "track/pick";

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContextAccessor.HttpContext!);
        user = UserRepository.GetById(Guid.Parse(user.Id));
        genderString = UserProfileHelper.GetGenderString(user);
        activityString = UserProfileHelper.GetGenderString(user);
        ChangeZIndex(false);
    }

    public void ChangeZIndex(bool enable)
    {
        if (enable)
            ZIndexModalStyle = "pointer-events: auto;";
        else
            ZIndexModalStyle = "pointer-events: none;";
        StateHasChanged();
    }

    private Task OnModalClosing(ModalClosingEventArgs e)
    {
        ChangeZIndex(false);
        e.Cancel = false;
        return Task.CompletedTask;
    }

}